@{
    ViewData["Title"] = "Home Page";
}

<div>
    <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra nisi ac lorem ornare, 
          ac ultrices tellus vehicula. Curabitur suscipit velit quis tortor tristique, at sollicitudin 
          felis fermentum. Maecenas a sapien lacus. Donec aliquet nibh purus, vel pulvinar mi cursus a.</p>
</div>
<section class="text-center bg-opacity-10 bg-secondary">
    <div class="container mt-5">
       <h1>WelCome To The EasyBookShop</h1>
       <p class="lead text-muted">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec viverra nisi ac lorem ornare, 
          ac ultrices tellus vehicula. Curabitur suscipit velit quis tortor tristique, at sollicitudin 
          felis fermentum. Maecenas a sapien lacus. Donec aliquet nibh purus, vel pulvinar mi cursus a.
          
      
       </p>
       <p>
           <button class="btn btn-outline-primary my-2">Search Book</button>
       </p>
    </div>
   
</section>

<div class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                 <div class="card mb-4 shadow-sm">
                     <svg class="bd-placeholder-img card-img-top w-100 h-25" xmlns="http://www.w3.org/2000/svg"></svg>
                   <div class="card-body">
                       <p class="card-text"> Lorem ipsum, consectetur adipiscing elit. Donec viverra nisi ac lorem ornare,</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <a href="#" class="btn btn-sm btn-outline-secondary">Veiw Details</a>
                          </div>
                          <small class="text-muted">Author Name</small>
                      </div>
                   </div>
                 </div>
             </div>
            
             <div class="col-md-4">
                 <div class="card mb-4 shadow-sm">
                     <svg class="bd-placeholder-img card-img-top w-100 h-25" xmlns="http://www.w3.org/2000/svg"></svg>
                   <div class="card-body">
                       <p class="card-text"> Lorem ipsum, consectetur adipiscing elit. Donec viverra nisi ac lorem ornare,</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <a href="#" class="btn btn-sm btn-outline-secondary">Veiw Details</a>
                          </div>
                          <small class="text-muted">Author Name</small>
                      </div>
                   </div>
                 </div>
            </div>
            <div class="col-md-4">
                 <div class="card mb-4 shadow-sm">
                     <svg class="bd-placeholder-img card-img-top w-100 h-25" xmlns="http://www.w3.org/2000/svg"></svg>
                   <div class="card-body">
                       <p class="card-text"> Lorem ipsum, consectetur adipiscing elit. Donec viverra nisi ac lorem ornare,</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <a href="#" class="btn btn-sm btn-outline-secondary">Veiw Details</a>
                          </div>
                          <small class="text-muted">Author Name</small>
                      </div>
                   </div>
                 </div>
            </div>
            <div class="col-md-4">
                 <div class="card mb-4 shadow-sm">
                     <svg class="bd-placeholder-img card-img-top w-100 h-25" xmlns="http://www.w3.org/2000/svg"></svg>
                   <div class="card-body">
                       <p class="card-text"> Lorem ipsum, consectetur adipiscing elit. Donec viverra nisi ac lorem ornare,</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <a href="#" class="btn btn-sm btn-outline-secondary">Veiw Details</a>
                          </div>
                          <small class="text-muted">Author Name</small>
                      </div>
                   </div>
                 </div>
            </div>
        </div>
    </div>
</div>

