@using EasyBookShop.Models
@model IEnumerable<BookModel>
@{
    ViewData["Title"] = "GetAllBook";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 class="text-md-center">GetAllBook</h1>

<div class="container">
    <div class="row">
        @foreach (var book in Model)
        {
             <div class="col-md-4">
                 <div class="card mb-4 shadow-sm">
                     <svg class="bd-placeholder-img card-img-top w-100 h-25" xmlns="http://www.w3.org/2000/svg">
             
                     </svg>
                     <img src="" alt="C#">
                   <div class="card-body">
                       <h3>@book.Title</h3>
                       <p class="card-text">@book.Description</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                              <a href="/book/getbook/@book.Id" class="btn btn-sm btn-outline-secondary">Veiw Details</a>
                          </div>
                          <small class="text-muted">@book.Author</small>
                      </div>
                   </div>
                 </div>
            </div>  
        }
     
    </div>
</div>